
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/* start global ruls */
:root {
    --red: #CD3B31;
    --red-gradient:#ED6259;
    --black: #151516;
    --white: #FFFFFF;
    --gray: #C4C4C4;
    --gray-light: #E4E4E4;
    --gray-dark: #6B7073;
    --section-margin: 80px;

    --font-200: 0.75rem;
    --font-300: 0.875rem;
    --font-400: 1rem;
    --font-500: 1.25rem;
    --font-600: 1.5rem;
    --font-700: 2rem;
    --font-xl: 3rem;
}

@media (max-width: 575px) {
    :root {
        --section-margin: 50px;

        --font-300: 0.75rem;
        --font-700: 1.5rem;
        --font-xl: 2rem;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Calibri", sans-serif;
    color: var(--black);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
    transition: 0.3s;
}

a:hover {
    color: var(--gray);
}

.list-bullets > li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.list-bullets > li::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--red);
    left: 0;
    top: 6px;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1760px;
    }
}

.search__bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 2px 4px 11px #0000002b;
}

.search__bar > input[type="search"] {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
}

.search__bar > input[type="search"]::placeholder {
    font-size: var(--font-200);
    line-height: 15px;
    color: var(--gray);
}

.search__bar > button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.search__bar > button:hover {
    opacity: 0.5;
}


/* end global ruls */

/* start header */
.header {
    box-shadow: 0px 4px 11px #0000002b;
    background: var(--white);
    z-index: 100;
    position: relative;
}

.header.noShadow {
    box-shadow: none;
}

.header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: relative;
}

.header__info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.header__info > a {
    text-decoration: none;
    font-size: var(--font-300);
    line-height: 17px;
    color: var(--gray-dark);
    cursor: pointer;
}

.header__working-hours {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6px;
    font-size: var(--font-300);
    line-height: 17px;
    color: var(--gray-dark);
}

.header .search__bar {
    display: none;
}

.map,
.contacts {
    display: none;
}

@media (max-width: 575px) {
    .header__working-hours > div:first-of-type {
        display: none;
    }
}

@media (min-width: 992px) {
    .header .search__bar {
        display: flex;
    }

    .header__info {
        flex-grow: 0.3;
    }
}

@media (min-width: 1400px) {
    .map,
    .contacts {
        display: block;
    }
}

/* end header */

/* start megamenu */
.megamenu {
    position: absolute;
    left: 0;
    top: 95px;
    background-color: var(--white);
    width: 100%;
    z-index: 99;
    box-shadow: 0px 10px 10px #0000002b;
    display: none;
    animation: showMegamenu 0.5s 1 forwards;
}

.megamenu__layout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.5;
    z-index: 90;
}

.megamenu__layout.active {
    display: block;
}

.megamenu.active {
    display: block;
}

@keyframes showMegamenu {
    from {
        transform: translateY(-100px);

    }
    to {
        transform: translateY(0px);
    }
}

.megamenu__wrapper-desktop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.megamenu__wrapper-desktop > div:last-of-type {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 40px;
    flex-grow: 1;
    justify-content: space-around;
}

.megamenu__wrapper-desktop .megamenu__links {
    border-right: 1px solid var(--gray);
    padding-right: 60px;
}

.megamenu__wrapper-desktop .megamenu__links > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100%;
    font-size: var(--font-500);
}

.megamenu__wrapper-desktop h2 {
    margin-bottom: 34px;
    font-weight: 700;
    font-size: var(--font-600);
    line-height: 29px;
    
}

.megamenu__wrapper-desktop ul li {
    margin-bottom: 20px;
    line-height: 20px;
}

.megamenu__wrapper-desktop .megamenu__shops > div {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
}

.megamenu__wrapper-mobile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.megamenu__wrapper-mobile > div {
    text-align: center;
}

.megamenu__wrapper-mobile .megamenu__header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: var(--font-600);
    line-height: 29px;
    cursor: pointer;
    width: 100%;
}

.megamenu__wrapper-mobile > .search__bar > input,
.megamenu__wrapper-mobile > .search__bar {
    width: 100%;
}

.megamenu__wrapper-mobile ul li {
    margin-bottom: 10px;
}

.submenu__list {
    display: none;
    text-align: center;
}

.submenu__list.active {
    display: block;
}

.megamenu__wrapper-mobile .megamenu__links {
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    font-size: var(--font-500);
    padding-bottom: 40px;
}

@media (max-width: 575px) {
    .megamenu__wrapper-desktop {
        display: none;
    }
}

@media (min-width: 576px) {
    .megamenu__wrapper-desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .megamenu__wrapper-desktop {
        display: flex;
    }

    .megamenu__wrapper-mobile {
        display: none;
    }
}

/* end megamenu */

/* start breadcrumbs  */
.breadcrumbs  {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    color: var(--gray);
    font-size: var(--font-300);
}

.breadcrumbs li+li:before {
    padding: 8px;
    color: var(--gray);
    content: "\003e";
}

.breadcrumbs li:last-of-type {
    color: var(--black);
}
/* end breadcrumbs  */

/* start hero */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: var(--section-margin);
}

@media (min-width: 1400px) {
    .hero {
        grid-template-columns: 2fr 1fr;
        gap: 30px;
    }
}

.hero__img {
    align-self: center;
}

.hero__img img {
    width: 100%;
}

.hero__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
}

.hero__text  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: var(--font-xl);
    line-height: 59px;
    white-space: nowrap;
}

.hero__text  p {
    font-size: var(--font-300);
    line-height: 17px;
    
}

.hero__presentation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__presentation > span {
    font-size: var(--font-600);
    line-height: 29px;
    
}

.hero__presentation > img {
    cursor: pointer;
    transition: 0.3s;
}

.hero__presentation > img:hover {
    opacity: 0.5;
}

.hero__cons > h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: var(--font-600);
    line-height: 29px;
    
}
.hero__cons  li {
    font-size: var(--font-300);
    line-height: 17px;
    
}

/* .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url("../images/menu_icon.svg");
    width: 33px;
    height: 29px;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
} */

.header__menu {
    width: 33px;
    height: 29px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    cursor: pointer;
    
}

.header__menu > span {
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: var(--red);
    transition: 0.3s;
    box-shadow: 0px 4px 3px #0000002b;
}

.header__menu > span:nth-of-type(2) {
    width: 60%;
    align-self: flex-end;
}

.header__menu.active > span:nth-of-type(2) {
    display: none;
}

.header__menu.active > span {
    transform-origin: right;
    box-shadow: none
}

.header__menu.active > span:nth-of-type(1) {
    transform: rotateZ(-48deg);
}

.header__menu.active > span:nth-of-type(3) {
    transform: rotateZ(48deg);
}

/* end hero */

/* start brands */
.brands {
    margin-bottom: var(--section-margin);
}

.brands > h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: var(--font-xl);
    
}

@media (max-width: 575px) {
    .brands > h2 {
        font-size: 24px;
    }
}

.barnds__info {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

@media (min-width: 1400px) {
    .barnds__info {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
}

.barnds__info li {
    font-size: var(--font-300);
    line-height: 17px;
    
}

.brands__slider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 30px;
}

.slider {
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.inner__slider {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    left: 0;
    transition: 0.3s;
    gap: 20px;
    width: 100%;
}

.slider picture img {
    height: 100%;
}

@media (min-width: 1200px) {

    .slider {
        width: 1010px;
    }
    
    .inner__slider {
        gap: 0;
    }

    .slider picture img {
        height: auto;
    }
}

.slider__arrow {
    cursor: pointer;
}

.slider__arrow:hover {
    opacity: 0.5;
}

.slider__btn {
    display: flex;
    align-items: center;
    gap: 13px;
}

.slider__bullets {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--gray-dark);
    opacity: 0.5;
    transition: 0.3s;
}

.slider__bullets.active {
    opacity: 1;
    width: 9px;
    height: 9px;
}

/* end brands */

/* start info */
.info {
    margin-bottom: var(--section-margin);
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    position: relative;
}

.gallery-lower {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.gallery-upper {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.gallery-upper > div:last-of-type {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.info__text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info__text > div {
    text-align: center;
}

@media (min-width: 992px) {
    .info__text {
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
    }

    .gallery-lower,
    .gallery-upper,
    .gallery-upper > div:last-of-type {
        gap: 30px;
    }
}

@media (min-width: 1400px) {
    .gallery-upper {
        flex-flow: row nowrap;
    }

    .info__text {
        grid-template-columns: 1fr;
        justify-content: space-around;
        min-width: 240px;
    }

    .info__text > div {
        text-align: unset;
    }
}

.info__text p {
    color: var(--gray-dark);
    font-weight: 700;
    font-size: var(--font-300);
    line-height: 20px;
}

.info__text span {
    font-weight: 700;
    font-size: var(--font-700);
    line-height: 44px;
}

.info__img img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.info__img img:hover {
    transform: scale(1.02);
}

/* end info */

/* start popup */
.popup__box {
    display: none;
    z-index: 100;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: scale(0.5);
    opacity: 0;
    animation: showPopup 0.3s 1 forwards;
    transform-origin: center;
}

.popup__box > span {
    position: absolute;
    top: -20px;
    right: -20px;
    color: var(--white);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.popup__box > span:hover {
    color: var(--gray);
}

.popup__box img {
    width: 100%;
    max-height: 80vh;
    box-shadow: 0 0 11px 4px #393939;
}

.popup__layout {
    background-color: var(--black);
    opacity: 0.5;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__layout.active,
.popup__box.active {
    display: block;
}

@keyframes showPopup {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* end popup */

/* start footer */
.footer {
    box-shadow: 0px -4px 11px #0000002b;
    padding: 40px 0;
}

.footer__desktop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 50px;
}

.footer__logo > img {
    max-width: 170px;
}

.footer__social-media,
.footer__links ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
}

.footer__links li {
    font-size: var(--font-400);
    line-height: 20px;
    
}

.social-media__icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}

.social-media__icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: var(--gray-light);
    cursor: pointer;
    transition: 0.3s;
}

.social-media__icons > div:hover {
    background-color: var(--gray);
}

.footer__address > p {
    margin-bottom: 20px;
    font-size: var(--font-300);
    line-height: 17px;
    
}
/* end footer */

/* start footer mobile */
.footer__mobile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}

.footer__mobile .footer__address {
    text-align: center;
}

.footer__mobile .footer__address > p:last-of-type {
    font-weight: 700;
    font-size: var(--font-600);
    line-height: 29px;
}


/* end footer mobile */
@media (max-width: 575px) {
    .footer__desktop {
        display: none;
    }
}

@media (min-width: 576px) {
    .footer__desktop {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 20px;
    }

    .footer__desktop  .footer__address {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .footer__links {
        display: none;
    }

    .footer__mobile {
        display: none;
    }

    .footer__desktop .footer__social-media {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .footer__desktop {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: start;
        gap: 40px;
    }

    .footer__desktop .footer__social-media {
        grid-column: 2/4;
    }

    .footer__desktop  .footer__address {
        display: unset;
    }

    .footer__links {
        display: block;
    }
}

@media (min-width: 1200px) {
    .footer__desktop {
        display: grid;
        grid-template-columns: repeat(7, auto);
        gap: 20px;
    }

    .footer__desktop .footer__social-media {
        grid-column: unset;
        align-items: unset;
    }
} 